.nav-bar {
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: rgb(255, 255, 255);

  h2 {
    display: flex;
    align-items: center;
    gap: 0.25em;
    letter-spacing: -1.25px;
    font-size: 1.75rem;
    cursor: pointer;
    padding: 0.2rem;

    svg {
      fill: rgb(99, 99, 255);
    }
  }
  button {
    padding: 0.75rem;
    background-color: rgb(26, 26, 26);
    border-radius: 5rem;
    cursor: pointer;
    transition: background-color 0.25s ease;

    &:hover {
      background-color: rgb(50, 50, 50);
    }
    svg {
      fill: rgb(255, 255, 225, 0.87);
      font-size: 1rem;
      scale: 1;
      display: block;
    }
  }
}
