.note-card {
  padding: 1.5rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 250px;
  position: relative;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: rgb(250, 250, 255);
}
.note-heading {
  font-weight: 700;
  letter-spacing: -0.6px;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.note-card p {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}
.date {
  font-size: 0.75rem;
  margin-bottom: 1em;
  background-color: rgba(255, 0, 0, 0.075);
  padding: 0.5em;
  border-radius: 2px;
}
.note-caption {
  line-height: 1.5;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  line-clamp: 7;
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}
.icons {
  display: flex;
  justify-content: end;
  /* background-color: yellow; */
  align-items: center;
  width: 100%;
  margin-top: auto;
  gap: 0.5rem;
}

.icon {
  border-radius: 5rem;
  cursor: pointer;
  transition: background-color 0.25s ease;
  display: block;
}
.icon:hover {
  background-color: rgba(96, 73, 228, 0.07);
}
.icon svg {
  font-size: 1.5rem;
  margin: 0.3em;
}

.edit-icon svg {
  stroke: rgba(0, 0, 0, 0.5);
}
.delete-icon svg {
  fill: rgba(0, 0, 0, 0.5);
}
