.note-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2rem;
  background-color: #f6f8fa;
  padding: 4rem;
  width: 100%;
  margin-inline: auto;
  border-radius: 12px;
  overflow: hidden;
}
