.note-list-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  .note-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
    margin-inline: auto;

    @media all and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media all and (max-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }
    @media all and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }

  .no-notes {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
}
