.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 1.5rem;
  background-color: #f6f8fa;
  padding: 4rem;
  width: 100%;
  margin-inline: auto;
  border-radius: 12px;
  overflow: hidden;
}
