.wrapper {
  width: min(1080px, 92%);
  margin-inline: auto;
  padding-block: 4rem;

  @media all and (max-width: 500px) {
    padding-block: 2rem;
  }
}
.app {
  overflow: clip;
  min-height: 100dvh;
  position: relative;
}
