$blue: rgb(6, 90, 216);

@keyframes load-bar-anim {
  0% {
    left: 0%;
    width: 0%;
  }
  50% {
    left: 25%;
    width: 50%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  width: 420px;
  gap: 0.75rem;
  position: relative;
  padding-block: 1.5rem;

  @media all and (max-width: 450px) {
    width: 100%;
  }

  .load-bar {
    position: absolute;
    top: 0.5rem;
    left: 0%;
    height: 2px;
    width: 100%;
    background-color: $blue;
    animation: load-bar-anim 1s cubic-bezier(0.2, 0.7, 0.7, 0.2) infinite;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 0.25rem;
    text-align: center;
  }
  .sub-head {
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .google-button-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    margin-bottom: 1.5rem;

    .google-button {
      padding: 0.75em 1.5em;
      font-size: 0.85rem;
      border-radius: 6px;
      font-weight: 500;
      background-color: transparent;
      border: 1px rgba(0, 0, 0, 0.1) solid;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      cursor: pointer;

      svg {
        display: block;
        fill: $blue;
      }
      &:active {
        border: 1px rgba($blue, 0.5) solid;
      }
    }
  }

  .input {
    position: relative;

    .icon {
      fill: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 50%;
      left: 0.8rem;
      transform: translateY(-50%);
      z-index: 2;
    }
    input {
      background-color: rgb(250, 251, 254, 0.8);
      border-radius: 6px;
      padding: 0.8em 1.5em 0.8em 2.6em;
      color: rgba(0, 0, 0, 0.9);
      font-weight: 500;
      font-size: 0.85rem;
      border: 1px rgba(0, 0, 0, 0.1) solid;
      width: 100%;
      transition: all 0.2s ease;
      position: relative;

      &::placeholder {
        color: rgba(0, 0, 0, 0.4);
      }
      &:focus {
        border: 1px rgba($blue, 0.5) solid;
      }
    }
    .error {
      position: absolute;
      fill: rgba(255, 0, 0, 0.8);
      right: -24px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .forgot-password {
    margin: 0.5rem 0 1rem auto;
    font-size: 0.85rem;
    cursor: pointer;
    color: $blue;
    &:active {
      color: rgba($blue, 0.8);
    }
  }
  .login-button {
    padding: 0.75em 1.5em;
    font-size: 0.9rem;
    border-radius: 6px;
    font-weight: 500;
    background-color: $blue;
    margin-bottom: 1.5rem;
    color: white;
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: rgba($blue, 0.9);
    }
    &:disabled {
      background-color: rgba($blue, 0.3);
    }
  }
  .error-msg {
    position: absolute;
    font-size: 0.8rem;
    color: red;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
  }
  .error-msg.show {
    visibility: visible;
  }
  .createAnAccount-text {
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;

    span {
      color: $blue;
      cursor: pointer;
      &:active {
        color: rgba($blue, 0.8);
      }
    }
  }
}
